In [2]:
#Ejercicio 1: Creación y manipulación de Series
#Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:

import pandas as pd

# Crear una Serie a partir de una lista
C_serie = pd.Series({'lunes': 100, 'Martes': 150, 'Miercoles': 200, 'Jueves': 50, 'Viernes': 300})
print(C_serie)

lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

In [4]:
#Accede al valor de las ventas del miércoles.

# Acceder por índice
print(C_serie['Miercoles'])

# Acceder por posición
print(C_serie[2])

200
200

C:\Users\ine\AppData\Local\Temp\ipykernel_10388\3592223497.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(C_serie[2])

In [6]:
#Calcula el total de ventas de la semana.
#Filtra los días donde las ventas fueron mayores a 100.

# Calcular la suma
print(C_serie.sum())

print(C_serie[C_serie > 100])

800
Martes       150
Miercoles    200
Viernes      300
dtype: int64

In [10]:
#2: Creación y análisis de un DataFrame
#Crea un DataFrame que contenga los nombres y edades de las siguientes persona

data = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}
df = pd.DataFrame(data)
print(df)

#Accede a la columna de los nombres.
# Seleccionar una columna
print(df['Nombre'])

#Filtra las filas donde la edad sea mayor a 25.
print(df[df['Edad'] > 25])

#Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000)
df['Salario'] = [30000, 45000, 35000]
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29
0      Ana
1     Luis
2    María
Name: Nombre, dtype: object
  Nombre  Edad
1   Luis    35
2  María    29
  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

In [15]:
#Ejercicio 3: Cálculos con DataFrames
#Crea un DataFrame con información de ventas de productos en una tienda:

tienda = {'Producto': ['Laptop', 'Mouse', 'Teclado'], 'Ventas': [30, 120, 75] , 'Precio': [1000, 50, 80]}
df_tienda = pd.DataFrame(tienda)
print(df_tienda)

#La venta total para cada producto (multiplicando el precio por unidad por las ventas)

# Calcular la venta total para cada producto
df_tienda['Venta Total'] = df_tienda['Ventas'] * df_tienda['Precio']
print(df_tienda)

#El total de ingresos para todos los productos
suma_venta_total = df_tienda['Venta Total'].sum()
print(f"La suma total de las ventas es: {suma_venta_total}")

  Producto  Ventas  Precio
0   Laptop      30    1000
1    Mouse     120      50
2  Teclado      75      80
  Producto  Ventas  Precio  Venta Total
0   Laptop      30    1000        30000
1    Mouse     120      50         6000
2  Teclado      75      80         6000
La suma total de las ventas es: 42000

In [34]:
#Ejercicio 4: Transformación y limpieza de datos en DataFrames
#Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
#Nota Ceci: tomé el none cómo cero y no cómo missing

Calificaciones = {'Estudiante': ['Ana', 'Luis', 'Maria', 'Carlos'], 'Matematicas': [90, 85, 0, 78] , 'Ciencia': [88, 92, 85, 0], 'Historia': [75, 0, 80, 90]}
df_cal = pd.DataFrame(Calificaciones)
print(df_cal)

#Rellena los valores faltantes con la media de cada columna.
promedio_matematicas = df_cal['Matematicas'].mean()
print(f"El promedio de la columna Matemáticas es: {promedio_matematicas}")

promedio_ciencia = df_cal['Ciencia'].mean()
print(f"El promedio de la columna ciencia es: {promedio_ciencia}")

promedio_historia = df_cal['Historia'].mean()
print(f"El promedio de la columna Historia es: {promedio_historia}")

print(df_cal.describe().round())

#replazar ceros

df_cal['Matematicas'] = df_cal['Matematicas'].replace(0, 63)

df_cal['Ciencia'] = df_cal['Ciencia'].replace(0, 66)

df_cal['Historia'] = df_cal['Historia'].replace(0, 61) 

#Renombra las columnas de las materias en inglés (Math, Science, History).

df_cal.rename(columns={'Matematicas': 'Math', 'Ciencia': 'Science', 'Historia': 'History'}, inplace=True)
print(df_cal)

# Calcular el promedio total de cada estudiante (promedio de las tres columnas por fila)
df_cal['Promedio'] = df_cal[['Math', 'Science', 'History']].mean(axis=1)
print(df_cal)

  Estudiante  Matematicas  Ciencia  Historia
0        Ana           90       88        75
1       Luis           85       92         0
2      Maria            0       85        80
3     Carlos           78        0        90
El promedio de la columna Matemáticas es: 63.25
El promedio de la columna ciencia es: 66.25
El promedio de la columna Historia es: 61.25
       Matematicas  Ciencia  Historia
count          4.0      4.0       4.0
mean          63.0     66.0      61.0
std           42.0     44.0      41.0
min            0.0      0.0       0.0
25%           58.0     64.0      56.0
50%           82.0     86.0      78.0
75%           86.0     89.0      82.0
max           90.0     92.0      90.0
  Estudiante  Math  Science  History
0        Ana    90       88       75
1       Luis    85       92       61
2      Maria    63       85       80
3     Carlos    78       66       90
  Estudiante  Math  Science  History   Promedio
0        Ana    90       88       75  84.333333
1       Luis    85       92       61  79.333333
2      Maria    63       85       80  76.000000
3     Carlos    78       66       90  78.000000