In [3]:
#Ejercicio 1: Limpiar y transformar columnas de texto
import pandas as pd

data = {
    'Producto': ['Café', 'té', ' chocolate', ' Cacao '],
    'Precio': [100, 80, 150, 120],
    'Categoría': ['bebidas calientes', 'bebidas calientes', 'snacks dulces', ' bebidas calientes ']
}

df_productos = pd.DataFrame(data)
print(df_productos)

     Producto  Precio            Categoría
0        Café     100    bebidas calientes
1          té      80    bebidas calientes
2   chocolate     150        snacks dulces
3      Cacao      120   bebidas calientes

In [9]:
#Elimina los espacios en blanco de las columnas Producto.
df_productos['Producto'] = df_productos['Producto'].str.replace(' ', '')
print(df_productos)

#Convierte todos los valores de la columna Categoría a mayúsculas.
df_productos['Categoría'] = df_productos['Categoría'].str.upper()
print(df_productos)

#Reemplaza la categoría 'snacks dulces' por 'postres'.
df_productos['Categoría'] = df_productos['Categoría'].replace('SNACKS DULCES', 'POSTRE')
print(df_productos)

#Crea una nueva columna que indique si el precio es mayor o igual a 120. Usa una función lambda para esto.
df_productos['Mayor_120'] = df_productos['Precio'].apply(lambda x: 'Sí' if x >= 120 else 'No')
print(df_productos)

    Producto  Precio            Categoría
0       Café     100    BEBIDAS CALIENTES
1         té      80    BEBIDAS CALIENTES
2  chocolate     150              POSTRES
3      Cacao     120   BEBIDAS CALIENTES
    Producto  Precio            Categoría
0       Café     100    BEBIDAS CALIENTES
1         té      80    BEBIDAS CALIENTES
2  chocolate     150              POSTRES
3      Cacao     120   BEBIDAS CALIENTES
    Producto  Precio            Categoría
0       Café     100    BEBIDAS CALIENTES
1         té      80    BEBIDAS CALIENTES
2  chocolate     150              POSTRES
3      Cacao     120   BEBIDAS CALIENTES
    Producto  Precio            Categoría Mayor_120
0       Café     100    BEBIDAS CALIENTES        No
1         té      80    BEBIDAS CALIENTES        No
2  chocolate     150              POSTRES        Sí
3      Cacao     120   BEBIDAS CALIENTES         Sí

In [11]:
#Ejercicio 2: Limpieza de duplicados y manejo de datos faltantes
data_empleados = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Luis', 'Juan', 'Ana'],
    'Edad': [29, 45, None, 40, 35, 29],
    'Departamento': ['Ventas', 'Finanzas', 'RRHH', 'Finanzas', 'Marketing', None]
}

df_empleados = pd.DataFrame(data_empleados)
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
1   Luis  45.0     Finanzas
2  Pedro   NaN         RRHH
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
5    Ana  29.0         None

In [23]:
# Ordenar por 'Nombre' y 'Edad' (en orden ascendente para quedarnos con la persona más joven)
df_empleados_sorted = df_empleados.sort_values(by=['Nombre', 'Edad'])

# Eliminar duplicados basados en 'Nombre', quedándonos con la primera aparición (la más joven)
df_final = df_empleados_sorted.drop_duplicates(subset='Nombre', keep='first')

# Imprimir el DataFrame final
print(df_final)

#Llena los valores faltantes de la columna Edad con la media de las edades.
media_edad = int(df_empleados['Edad'].mean())  #encontré que con un parentesis al final convierte la media a entero

# Llenar los valores faltantes de la columna 'Edad' con la media calculada
df_final['Edad'] = df_final['Edad'].fillna(media_edad)

# Imprimir el DataFrame actualizado
print(df_final)

#Llena los valores faltantes de la columna Departamento con el valor 'Desconocido'.
df_empleados['Departamento'] = df_empleados['Departamento'].fillna('Desconocido')
print(df_empleados)

#Ordena el DataFrame por edad de forma descendente.
df_final= df_final.sort_values(by='Edad', ascending=False)
print(df_final)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
3   Luis  40.0     Finanzas
2  Pedro   NaN         RRHH
  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
3   Luis  40.0     Finanzas
2  Pedro  35.0         RRHH
  Nombre  Edad Departamento
0    Ana  29.0       Ventas
1   Luis  45.0     Finanzas
2  Pedro   NaN         RRHH
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
5    Ana  29.0  Desconocido
  Nombre  Edad Departamento
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
2  Pedro  35.0         RRHH
0    Ana  29.0       Ventas

C:\Users\ine\AppData\Local\Temp\ipykernel_23232\2026315837.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Edad'] = df_final['Edad'].fillna(media_edad)

In [27]:
#Ejercicio 3: Aplicar funciones a las columnas

data_ventas = {
    'Producto': ['Café', 'Té', 'Jugo', 'Agua'],
    'Precio': [120, 80, 90, 60],
    'Cantidad': [3, 5, 2, 8]
}

df_ventas = pd.DataFrame(data_ventas)

#Calcula el total de ventas (Precio * Cantidad) y agrégalo como una nueva columna.
df_ventas['Total Ventas'] = df_ventas['Precio'] * df_ventas['Cantidad']
print(df_ventas)

#Crea una nueva columna llamada Descuento que aplique un descuento del 10% si el precio es mayor a 100, y del 5% si es menor o igual a 100. Usa la función apply y una función lambda.
df_ventas['Descuento'] = df_ventas['Precio'].apply(lambda x: x * 0.10 if x > 100 else x * 0.05)

# Imprimir el DataFrame actualizado
print(df_ventas)

  Producto  Precio  Cantidad  Total Ventas
0     Café     120         3           360
1       Té      80         5           400
2     Jugo      90         2           180
3     Agua      60         8           480
  Producto  Precio  Cantidad  Total Ventas  Descuento
0     Café     120         3           360       12.0
1       Té      80         5           400        4.0
2     Jugo      90         2           180        4.5
3     Agua      60         8           480        3.0

In [36]:
#Ejercicio 4: Uso de funciones de cadena

data_clientes = {
    'Cliente': ['Juan Pérez', 'Ana Ruiz', 'Pedro López'],
    'Dirección': ['calle falsa 123', 'Calle PRINCIPAL 45', 'AV. LOS robles 34']
}

df_clientes = pd.DataFrame(data_clientes)

#Convierte todos los valores de la columna Dirección a minúsculas.

df_clientes['Dirección'] = df_clientes['Dirección'].str.lower()
print(df_clientes)

#Reemplaza las abreviaturas "calle", "av." por "calle" y "avenida" respectivamente.
df_clientes['Dirección'] = df_clientes['Dirección'].str.replace('av.', 'Avenida', regex=False)
df_clientes['Dirección'] = df_clientes['Dirección'].str.replace('calle', 'Calle', regex=False)

# Imprimir el DataFrame actualizado
print(df_clientes)

#Extrae el número de la dirección y guárdalo en una nueva columna llamada Número.

df_clientes['Número'] = df_clientes['Dirección'].str.extract('(\d+)')
print(df_clientes)

       Cliente           Dirección
0   Juan Pérez     calle falsa 123
1     Ana Ruiz  calle principal 45
2  Pedro López   av. los robles 34
       Cliente              Dirección
0   Juan Pérez        Calle falsa 123
1     Ana Ruiz     Calle principal 45
2  Pedro López  Avenida los robles 34
       Cliente              Dirección Número
0   Juan Pérez        Calle falsa 123    123
1     Ana Ruiz     Calle principal 45     45
2  Pedro López  Avenida los robles 34     34

<>:24: SyntaxWarning: invalid escape sequence '\d'
<>:24: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ine\AppData\Local\Temp\ipykernel_23232\2458120595.py:24: SyntaxWarning: invalid escape sequence '\d'
  df_clientes['Número'] = df_clientes['Dirección'].str.extract('(\d+)')