In [72]:
#ejercico 1
#crear lista
import pandas as pd

lista = pd.Series({'lunes': 100, 'martes': 150, 'miercoles': 200, 'jueves': 50, 'viernes': 300})
print(lista)

#valor ventas miércoles
print("ventas día miércoles: ", lista['miercoles'])

#suma ventas
print("Suma venta semanal: ", lista.sum())

#ventas mayores a 100
print("Días con ventas > a 100: ", lista[lista > 100])

lunes        100
martes       150
miercoles    200
jueves        50
viernes      300
dtype: int64
ventas día miércoles:  200
Suma venta semanal:  800
Días con ventas > a 100:  martes       150
miercoles    200
viernes      300
dtype: int64

In [75]:
#ejercico 2
data = [[23, 'Ana'], [35, 'Luis'], [29, 'María']]
df = pd.DataFrame(data, columns=['Edad', 'Nombre'])
print(df)

#Accede a la columna de los nombres.
print(df['Nombre'])
#edad mayor a 25
print("Edad >25: ", df[df['Edad'] > 25])

#Agrega columna salarios
df['Salario'] = [30000, 45000, 35000]
print(df)

   Edad Nombre
0    23    Ana
1    35   Luis
2    29  María
0      Ana
1     Luis
2    María
Name: Nombre, dtype: object
Edad >25:     Edad Nombre
1    35   Luis
2    29  María
   Edad Nombre  Salario
0    23    Ana    30000
1    35   Luis    45000
2    29  María    35000

In [36]:
#ejercicio 3
#Productos: "Laptop", "Mouse", "Teclado"
#Ventas: 30, 120, 75
#Precio por unidad: 1000, 50, 80

data = {'productos': ['laptop', 'mouse', 'teclado'], 'ventas': [30, 120, 75], 'precio': [1000, 50, 80]}
df = pd.DataFrame(data)
print(df)

#venta total
df['venta_total'] = df['ventas'] * df['precio']
print(df)

#total de ingresos 
total_ingresos = df['venta_total'].sum()
print("Total de ingresos por ventas:", total_ingresos)

  productos  ventas  precio
0    laptop      30    1000
1     mouse     120      50
2   teclado      75      80
  productos  ventas  precio  venta_total
0    laptop      30    1000        30000
1     mouse     120      50         6000
2   teclado      75      80         6000
Total de ingresos por ventas: 42000

In [63]:
#ejercicio 4
#Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
#Estudiantes: "Ana", "Luis", "María", "Carlos"
#Matemáticas: 90, 85, None, 78
#Ciencia: 88, 92, 85, None
#Historia: 75, None, 80, 90

notas = {'Estudiantes': ['Ana', 'Luis', 'María', 'Carlos'], 
         'Matemáticas' : [90, 85, None, 78], 
         'Ciencia': [88, 92, 85, None], 
         'Historia': [75, None, 80, 90]}

df = pd.DataFrame(notas)
print(df)

#Rellena los valores faltantes con la media de cada columna.
#print(df['Matemáticas'].mean()) #84.3
#print(df['Ciencia'].mean()) #88.3
#print(df['Historia'].mean()) #81.7

df = df.assign(
    Matemáticas=df['Matemáticas'].fillna(round(df['Matemáticas'].mean(), 1)),
    Ciencia=df['Ciencia'].fillna(round(df['Ciencia'].mean(), 1)),
    Historia=df['Historia'].fillna(round(df['Historia'].mean(), 1))
)

print(df)

#Renombra las columnas de las materias en inglés (Math, Science, History).
df.rename(columns={'Matemáticas': 'Math', 'Ciencia': 'Science', 'Historia': 'History'}, inplace=True)
print(df)

#Calcula la calificación promedio de cada estudiante.
df['nota_promedio'] = df[['Math', 'Science', 'History']].mean(axis=1).round(1)
print(df)

  Estudiantes  Matemáticas  Ciencia  Historia
0         Ana         90.0     88.0      75.0
1        Luis         85.0     92.0       NaN
2       María          NaN     85.0      80.0
3      Carlos         78.0      NaN      90.0
  Estudiantes  Matemáticas  Ciencia  Historia
0         Ana         90.0     88.0      75.0
1        Luis         85.0     92.0      81.7
2       María         84.3     85.0      80.0
3      Carlos         78.0     88.3      90.0
  Estudiantes  Math  Science  History
0         Ana  90.0     88.0     75.0
1        Luis  85.0     92.0     81.7
2       María  84.3     85.0     80.0
3      Carlos  78.0     88.3     90.0
  Estudiantes  Math  Science  History  nota_promedio
0         Ana  90.0     88.0     75.0           84.3
1        Luis  85.0     92.0     81.7           86.2
2       María  84.3     85.0     80.0           83.1
3      Carlos  78.0     88.3     90.0           85.4